$bg-color:#324057;
$bg-view-color:#324057;
$text-tips-color:#b2b2b2;
$text-color:#333 ;

$main-color:#3190e8 ;
$nav-bar-color:#fff ;
$border-color:#eee;
$base-view-color:#fff;
$bg-content-color:#e3e7e8;

$dark-color:#e3e3e3;

$btn-bg-color:#e23f3d;
$labels-type-color:#ffcc00;
$text-reverse-color:#d3d3d3;

$tips-color:#e23f3d;
$aside-border-color:#eee;